
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4 mb-5">About</h1>
    <div class="profile-img mb-5">
        <img src="@Url.Action("GetImage", "Projects", new { fileName = "Portrait" })" class="img-thumbnail w-25 mb-4">
        <h3>Victor E. Ortiz</h3>
    </div>
    <h2>My Interest in Programming</h2>
    <p class="mb-5">
        I have always had a strong fascination with computers.
        From the first family computer when I was ten years old to me building the second family computer when I was fourteen, to my love of the internet, software, and games.
        It was until a few years ago when I got interested in video game emulation that I started playing around with coding.
        I bought a Raspberry Pi and an Arduino and begin coding simple things.
        Using the Raspberry Pi, I used it to emulate old video game systems.
        I got used to using the command line and modifying simple Python scripts.
    </p>
    <h2>Current Education</h2>
    <p class="mb-5">
        In the summer of 2018, I decided to go back to school to pursue an Associates of Computer Programming from South Puget Sound Community College.
        I learned C#, many of the .NET frameworks, as well as Java and web development.
        The technical, applied approach to learning worked well for my learning style.
        As I came closer to graduating, I decided I wanted to continue my education and applied to the Evergreen State College.
        The theoretical, in-depth approach proved to challenge me as less time was spent coding and more time spent on learning about the concepts and processes.
    </p>
    <h2>Future Goals</h2>
    <p class="mb-5">
        Upon graduating, I want to gain employment as an entry-level Software Developer.
        I am wanting to work at a smaller tech company, so I have more of a say into the software I am helping build.
        Once I have gained enough work experience, I may choose to pursue a Masters but for now I am happy with my progress.
    </p>
</div>