@model IEnumerable<Projects.Models.ProjectModel>
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mb-5">
    <h1 class="display-4 mb-5">Edit</h1>
    <h2 class="mb-3">Project to edit:</h2>

    @foreach (var project in Model)
    {
        <div class="mb-2">
            @Html.ActionLink(project.ProjectTitle, "EditProject", new { projectNum = project.Id })
        </div>
    }
</div>